
.home_container {
    width: 100%;
}

.filters {
    padding: 0 5em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2em;
}

.country_list {
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 1.6em;
    padding: 2em 5em;
}