
.filter_container {
    width: fit-content;
    display: flex;
    align-items: center;
    background-color: var(--white);
    box-shadow: 0px 0px 10px var(--box-shadow);
    padding-right: 1em;
    border-radius: 5px;
}

.filter_select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    width: 100%;
    outline: none;
    font-size: 18px;
    padding: 1em 0 1em 1em;
    background-color: var(--white);   
}

.filter_select_dark_mode {
    background-color: var(--dark-blue);   
    color: var(--white);
}

.custom_select {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.custom_options {
    display: none
}