
.card_container {
    width: 100%;
    max-width: 300px;
    margin-bottom: 2em;
    background-color: var(--white);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--box-shadow);
}

.country_container {
    width: 100%;
}

.home_flag {
    width: 300px;
    height: 12em;
    object-fit: fill;
    border-radius: 10px 10px 0 0;
}

.country_info_container {
    padding: 2em;
}

.country_name {
    font-size: 24px;
    font-weight: 800;
    padding-bottom: 0.5em ;
}

.population_info, .region_info, .capital_info {
    display: flex;
    align-items: flex-end;
    padding-top: 1em;
}

.population_title, .population_text,
.region_title, .region_text,
.capital_title, .capital_text {
    font-size: 16px;
}

.population_text, .region_text, .capital_text {
    margin-left: 1em;
}
