
.header_container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em 5em;
    box-shadow: 0px 1px 10px var(--box-shadow);
    margin-bottom: 3em;
    background-color: var(--white);
}

.logo {
    font-weight: 800;
    font-size: 24px;
}

.dark_mode_container {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: 0.5em;
}

.moon_icon {
    margin-right: 0.5em;
}

.dark_mode_text {
    text-transform: capitalize;
}

/*-------------------- hover status ----------------- */
.dark_mode_container:hover {
    cursor: pointer;
}


/*-------------------- dark mode ----------------- */
.dark_mode {
    background-color: var(--dark-blue);
}